.content {
  display: flex;
  flex-direction: column;
}
.container {
  width: 1510px;
  margin: 0 auto;
}
.header {
  text-align: center;
  padding-top: 20px;
  &-logo {
    width: 310px;
    height: 122px;
    object-fit: cover;
  }
}

.group1 {
  margin-top: 30px;
  width: 100%;
  background-color: #efefef;
  text-align: center;
  padding: 38px 0;
  &-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
  }
  &-desc {
    width: 972px;
    font-size: 16px;
    margin: 18px auto 0;
    text-align: center;
  }
}
.group2 {
  margin-top: 40px;
  &-list {
    display: flex;
    gap: 0 50px;
    justify-content: space-between;
  }
  &-item-title {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: bold;
    line-height: 28.13px;
  }
  &-desc {
    img {
      width: 128px;
      height: 128px;
      object-fit: cover;
      float: left;
      margin-right: 16px;
    }
  }
}
.footer {
  margin-top: auto;
  height: 79px;
  display: flex;
  align-items: center;
  border-top: 1px solid #dedede;
  p {
    font-size: 16px;
    color: #3e3e3e;
  }
}
